@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --azulclaro:#48D6ED;
    --azuloscuro:#337AB7;
    --azulnegro:#303342;
    --negro:#333333;
    --negro2: #000;
    --gris:#B2B3B3;
    --fondo:#FFFEFC;
    --verdeazul:#157A8A;
    --magenta:#9C2759;
    --blanco:#fff;
    --degradado: linear-gradient (49.54deg, #337AB7, #0B3860 80.34%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/login/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vh;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    color: #fff;
    justify-content: center;
  }
  
  .formulario {
    background-color: #1380df7c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.formulario h1 {
    text-align: center;
    margin-bottom: 2px;
    color: var(--blanco);
}

.icon {
    position: relative;
    text-align: center;
}

.formulario svg{
    width: 64px;
    height: 64px;
    color: var(--blanco);
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
}

.formulario input {
    padding: 10px 20px;
    width: 30em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.formulario button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 33em;

}

.registro {
    text-align: center;
    margin-top: 10px;
}

.registro a {
    color: #000;
}

@media (max-width: 768px) {
    .formulario {
        width: 90%;
    }
}