body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.register-box {
  width: 400px;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin: 75px auto;
  padding: 40px;
}

.register-box h1 {
  text-align: center;
  margin-bottom: 40px;
}

.textbox {
  margin-bottom: 20px;
}

.textbox label {
  display: block;
  margin-bottom: 5px;
}

.textbox input,
.textbox select {
  width: calc(100% - 22px); /* Adjusted width to accommodate for padding and border */
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.textbox input[type="submit"] {
  background-color: #5fbaa0;
  color: #fff;
  cursor: pointer;
}

.textbox input[type="submit"]:hover {
  background-color: #4da88d;
}

